Python Lab #1

In [3]:
#Ex1

print("Hello World")

Hello World

In [5]:
#Ex2: print "YES" if 5 is larger than 2

x = 5 > 2
if x is True:
    print("YES")

YES

In [6]:
#Ex3


#This is a comment

In [8]:
#Ex4

"""
This is a comment
written in 
more than just one line
"""

'\nThis is a comment\nwritten in \nmore than just one line\n'

In [9]:
#Ex5: Create a variable named carname and assign the value Volvo to it.

carname = 'Volvo'
print(carname)

Volvo

In [11]:
#Ex6: Create a variable named x and assign the value 50 to it.

x = 50
print(x)

50

In [12]:
#Ex7: Display the sum of 5 + 10, using two variables: x and y.

x = 5
y = 10
print(x + y)

15

In [13]:
#Ex8: Create a variable called z, assign x + y to it, and display the result.

x = 5
y = 10
z = (x + y)

print(z)

15

In [17]:
#Ex9: Insert the correct syntax to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [20]:
#Ex10: Insert the correct syntax to assign the same value to all three variables in one code line.

x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

In [24]:
#Ex11: Insert the correct keyword to make the variable x belong to the global scope.

def myfunc():
    global x
    x = "fantastic"

myfunc() 
print(x)

fantastic

In [25]:
#Ex12: The following code example would print the data type of x, what data type would that be?

x = 5
print(type(x))

<class 'int'>

In [26]:
#Ex13: The following code example would print the data type of x, what data type would that be?

x = "Hello World"
print(type(x))

<class 'str'>

In [27]:
#Ex14: The following code example would print the data type of x, what data type would that be?

x = 20.5
print(type(x))

<class 'float'>

In [28]:
#Ex15: The following code example would print the data type of x, what data type would that be?

x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [29]:
#Ex16: The following code example would print the data type of x, what data type would that be?

x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [30]:
#Ex17: The following code example would print the data type of x, what data type would that be?

x = True
print(type(x))

<class 'bool'>

In [36]:
#Ex18: Insert the correct syntax to convert x into a floating point number.

x = 5
x = float(x)

print(type(x))

<class 'float'>

In [35]:
#Ex19: Insert the correct syntax to convert x into a integer.

x = 5.5
x = str(x)

print(type(x))

<class 'str'>

In [37]:
#Ex20: Insert the correct syntax to convert x into a complex number.

x = 5
x = complex(x)

print(type(x))

<class 'complex'>